<div class="dashboard-leads">
  <div class="dashboard-leads__wrapper">
    <table class="leads-list">
      <ng-container *ngIf="availableLeads$ | async as availableLeads">
        <thead data-sort-title="sorting by">
          <tr>
            <td class="leads-list__thead">
              <span class="leads-list__thead-name">
                {{ 'dashboardLeadsTable.tableHead.lead' | cxTranslate }}
              </span>
              <span class="leads-list__sort-icons leads-list__sort-icons_active">
                <cx-icon [type]="iconType.ARROW"></cx-icon>
              </span>
            </td>
            <td class="leads-list__thead">
              <span class="leads-list__thead-postcode">
                {{ 'dashboardLeadsTable.tableHead.postcode' | cxTranslate }}
              </span>
              <span class="leads-list__sort-icons">
                <cx-icon [type]="iconType.ARROW"></cx-icon>
              </span>
            </td>
            <td class="leads-list__thead">
              <span class="leads-list__thead-budget">
                {{ 'dashboardLeadsTable.tableHead.budget' | cxTranslate }}
              </span>
              <span class="leads-list__sort-icons">
              </span>
            </td>
            <td class="leads-list__thead">
              <span class="leads-list__thead-time">
                {{ 'dashboardLeadsTable.tableHead.timeLeft' | cxTranslate }}
              </span>
              <span class="leads-list__sort-icons">
                <cx-icon [type]="iconType.ARROW"></cx-icon>
              </span>
            </td>
            <td class="leads-list__thead">
              <span class="leads-list__thead-price">
                {{ 'dashboardLeadsTable.tableHead.price' | cxTranslate }}
              </span>
              <span class="leads-list__sort-icons">
                <cx-icon [type]="iconType.ARROW"></cx-icon>
              </span>
            </td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let lead of availableLeads?.results">
            <tr>
              <td class="leads-list__description">
                <div class="leads-list__img">
                  <cx-media [container]="lead.images" (click)="triggerZoom(true)"></cx-media>
                </div>
                <div>
                  <div class="leads-list__name">{{lead.name}}</div>
                  <a href="{{lead.detailsMediaLink}}" class="leads-list__plan">Plan details</a>
                </div>
              </td>
              <td class="leads-list__postcode">
                <span class="leads-list__mobile-title">
                  {{ 'dashboardLeadsTable.tableHead.postcode' | cxTranslate }}
                </span>
                <span>
                  {{ lead.postcode }}
                </span>
              </td>
              <td class="leads-list__budget">
                <span class="leads-list__mobile-title">
                  {{ 'dashboardLeadsTable.tableHead.budget' | cxTranslate }}
                </span>
                <span>
                  {{ lead.budget }}
                </span>
              </td>
              <td class="leads-list__time-left">
                <span class="leads-list__mobile-title">
                  {{ 'dashboardLeadsTable.tableHead.timeLeft' | cxTranslate }}
                </span>
                <span>
                  <app-count-down [endTime]="lead.endTime"> </app-count-down>
                </span>
              </td>
              <td class="leads-list__price">
                <span class="leads-list__mobile-title">
                  {{ 'dashboardLeadsTable.tableHead.price' | cxTranslate }}
                </span>
                <span>
                  {{ lead.price.formattedValue }}
                </span>
              </td>
              <td class="leads-list__buttons">
                <button
                  type="submit"
                  class="btn btn-block btn-primary">
                  {{ 'dashboardLeadsTable.button' | cxTranslate }}
                </button>
                <div class="leads-list__info btn btn-outline">
                  <cx-icon [type]="iconType.INFO"></cx-icon>
                  <span>
                    {{ 'dashboardLeadsTable.moreDetails' | cxTranslate }}
                  </span>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
        </ng-container>
    </table>
  </div>
</div>
