@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  --cx-color-primary: $nb-main-brand-color;
  --cx-color-danger: $nb-error-color;
  --cx-buttons-border-radius: 50px;
  --cx-color-background-focus: none;
}

a {
  &,
  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
  }
}

.dashboard-icon {
  cx-icon svg {
    @include size(17px);
  }
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  @include heading1-mobile();

  @include desktop-min {
    @include heading1-desktop();
  }
}
