.btn {
  @include font-style(500, 13px, 16px);

  padding: 10px 16px;
  height: 36px;
}

.btn-outline {
  @include btn-outline();
}

.btn-primary {
  @include btn-main-color();
}

.btn-tertiary {
  @include btn-tertiary();
}

.btn-link {
  @include font-style(500, 14px, 20px);

  color: $nb-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $nb-link-color;
    text-decoration: none;
  }
}
