.btn {
  @include font-style(500, 13px, 16px);

  padding: 10px 16px;
  height: 36px;

  &:focus {
    box-shadow: none;
  }
}

.btn-outline {
  @include btn-outline();
}

.btn-primary {
  @include btn-main-color();
}

.btn-tertiary {
  @include btn-tertiary();
}

.btn-link {
  @include font-style(500, 14px, 20px);

  color: $nb-link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $nb-link-color;
    text-decoration: none;
  }
}

.btn-zoom {
  @include size(24px);
  @include border-radius-0();

  position: absolute;
  top: 0;
  left: 0;
  color: $nb-white;
  background: $nb-dark-opacity-05;
  min-width: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  cx-icon svg {
    @include size(16px);
  }
}
