<cx-spinner class="overlay" *ngIf="isUpdating$ | async"> </cx-spinner>

<form (ngSubmit)="onSubmit()" [formGroup]="form" class="accountMainContentItem">
  <div class="accountMainContentItemInner">
  <label class="form-group form-floating password-input-group">
    <input appFloatLabel
      aria-required="true"
      class="form-control"
      type="password"
      name="oldPassword"
      formControlName="oldPassword"
      [type]="hideCurrPass ? 'password' : 'text'"
      [attr.aria-label]="'updatePasswordForm.oldPassword.placeholder' | cxTranslate"
    />
    <label class="control-label">{{
      'updatePasswordForm.oldPassword.label' | cxTranslate
    }}</label>
    <div class="show-pass" (click)="hideCurrPass = !hideCurrPass">
      <cx-icon [type]="iconType.EYE_ON" [ngClass]="hideCurrPass ? '' : 'd-none'"></cx-icon>
      <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hideCurrPass ? 'd-none' : ''"></cx-icon>
    </div>
    <cx-form-errors
      aria-live="assertive"
      aria-atomic="true"
      [control]="$any(form.get('oldPassword'))"
    ></cx-form-errors>
  </label>

  <label class="form-group form-floating password-input-group">
    <input appFloatLabel
      aria-required="true"
      class="form-control"
      type="password"
      name="newPassword"
      formControlName="newPassword"
      [type]="hideNewPass ? 'password' : 'text'"
      [attr.aria-label]="'updatePasswordForm.newPassword.placeholder' | cxTranslate"
    />
    <label class="control-label">{{
      'updatePasswordForm.newPassword.label' | cxTranslate
    }}</label>
    <div class="show-pass" (click)="hideNewPass = !hideNewPass">
      <cx-icon [type]="iconType.EYE_ON" [ngClass]="hideNewPass ? '' : 'd-none'"></cx-icon>
      <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hideNewPass ? 'd-none' : ''"></cx-icon>
    </div>
    <cx-form-errors
      aria-live="assertive"
      aria-atomic="true"
      [control]="$any(form.get('newPassword'))"
    ></cx-form-errors>
  </label>

  <label class="form-group form-floating password-input-group">
    <input appFloatLabel
      aria-required="true"
      class="form-control"
      type="password"
      name="newPasswordConfirm"
      formControlName="newPasswordConfirm"
           [type]="hideConfirmPass ? 'password' : 'text'"
           [attr.aria-label]="'updatePasswordForm.confirmPassword.placeholder' | cxTranslate"
    />
    <label class="control-label">{{
      'updatePasswordForm.confirmPassword.label' | cxTranslate
    }}</label>
    <div class="show-pass" (click)="hideConfirmPass = !hideConfirmPass">
      <cx-icon [type]="iconType.EYE_ON" [ngClass]="hideConfirmPass ? '' : 'd-none'"></cx-icon>
      <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hideConfirmPass ? 'd-none' : ''"></cx-icon>
    </div>
    <cx-form-errors
      aria-live="assertive"
      aria-atomic="true"
      [control]="$any(form.get('newPasswordConfirm'))"
    ></cx-form-errors>
  </label>

  <button class="btn btn-block btn-primary" [disabled]="form.disabled">
    {{ 'common.save' | cxTranslate }}
  </button>
  </div>
</form>
