<cx-spinner class="overlay" *ngIf="isUpdating$ | async"></cx-spinner>

<ng-container *ngIf="data$ | async as data">
  <div class="login-content">
    <div class="login-content-left">
      <div class="login-content-container">
        <cx-media [container]="data.loginSiteLogo" class="logo"></cx-media>
        <div class="login-content-title">{{data.marketingText}}</div>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">
          <div class="form-group form-floating">
            <input appFloatLabel
              required="true"
              type="email"
              class="form-control"
              formControlName="userId"
            />
            <label class="control-label">
              {{ 'dashboardLoginForm.emailAddress.placeholder' | cxTranslate }}
            </label>
            <cx-form-errors [control]="$any(form.get('userId'))"></cx-form-errors>

          </div>

          <div class="form-group form-floating password-input-group">
              <input appFloatLabel
                required="true"
                [type]="hide ? 'password' : 'text'"
                class="form-control"
                formControlName="password"
                [attr.aria-label]="'loginForm.password.placeholder' | cxTranslate"

              />
              <label class="control-label">
                {{
                'dashboardLoginForm.password.label' | cxTranslate
                }}
              </label>
              <div class="show-pass" (click)="hide = !hide">
                <cx-icon [type]="iconType.EYE_ON" [ngClass]="hide ? '' : 'd-none'"></cx-icon>
                <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hide ? 'd-none' : ''"></cx-icon>
              </div>
              <cx-form-errors [control]="$any(form.get('password'))"></cx-form-errors>

          </div>

          <div class="d-flex justify-content-between align-items-start login-content__inputs-remember">
            <div class="form-group">
              <a [routerLink]="{ cxRoute: 'forgotPassword' } | cxUrl" class="btn-link">
                {{ 'loginForm.forgotPassword' | cxTranslate }}
              </a>
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.disabled">
            {{ 'loginForm.signIn' | cxTranslate }}
          </button>
        </form>

      </div>
    </div>
      <div class="login-content-right">
        <cx-media [container]="data.mainPicture" class="main-picture"></cx-media>
      </div>
  </div>
</ng-container>
