<cx-spinner class="overlay" *ngIf="isUpdating$ | async"></cx-spinner>

<ng-container *ngIf="data$ | async as data">
  <div class="login-content">
    <div class="login-content-left">
      <div class="login-content-container">
        <cx-media [container]="data.loginSiteLogo" class="logo"></cx-media>
        <div class="login-content-title">{{ 'dashboardPasswordForms.title' | cxTranslate }}</div>
        <div class="login-content-text">{{data.marketingText}}</div>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">

          <div class="form-group form-floating password-input-group">
            <input appFloatLabel
                   required="true"
                   [type]="hide ? 'password' : 'text'"
                   class="form-control"
                   formControlName="password"
                   [attr.aria-label]="'loginForm.password.placeholder' | cxTranslate"
                   cxPasswordVisibilitySwitch
            />
            <label class="control-label">
              {{
                'dashboardPasswordForms.password.label' | cxTranslate
              }}
            </label>
            <div class="show-pass" (click)="hide = !hide">
              <cx-icon [type]="iconType.EYE_ON" [ngClass]="hide ? '' : 'd-none'"></cx-icon>
              <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hide ? 'd-none' : ''"></cx-icon>
            </div>
            <cx-form-errors [control]="$any(form.get('password'))"></cx-form-errors>

          </div>

          <div class="form-group form-floating password-input-group">
            <input appFloatLabel
                   required="true"
                   [type]="hide ? 'password' : 'text'"
                   class="form-control"
                   formControlName="confirmPassword"
                   [attr.aria-label]="'loginForm.confirmPassword.placeholder' | cxTranslate"
                   cxPasswordVisibilitySwitch
            />
            <label class="control-label">
              {{
                'dashboardPasswordForms.confirmPassword.label' | cxTranslate
              }}
            </label>
            <div class="show-pass" (click)="hide = !hide">
              <cx-icon [type]="iconType.EYE_ON" [ngClass]="hide ? '' : 'd-none'"></cx-icon>
              <cx-icon [type]="iconType.EYE_OFF" [ngClass]="hide ? 'd-none' : ''"></cx-icon>
            </div>
            <cx-form-errors [control]="$any(form.get('confirmPassword'))"></cx-form-errors>

          </div>

          <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.disabled">
            {{ 'dashboardPasswordForms.resetPasswordBtn.label' | cxTranslate }}
          </button>
        </form>

      </div>
    </div>
    <div class="login-content-right">
      <cx-media [container]="data.mainPicture" class="main-picture"></cx-media>
    </div>
  </div>
</ng-container>
