<cx-spinner class="overlay" *ngIf="isUpdating$ | async"></cx-spinner>

<ng-container *ngIf="data$ | async as data">
  <div class="login-content">
    <div class="login-content-left">
      <div class="login-content-container">
        <cx-media [container]="data.loginSiteLogo" class="logo"></cx-media>
        <div class="login-content-title">{{ 'dashboardForgotPasswordForm.title' | cxTranslate }}</div>
        <div class="login-content-text">{{data.marketingText}}</div>

        <form (ngSubmit)="onSubmit()" [formGroup]="form">

          <div class="form-group form-floating">
            <input appFloatLabel
                   required="true"
                   type="email"
                   class="form-control"
                   formControlName="userId"
            />
            <label class="control-label">
              {{ 'dashboardForgotPasswordForm.emailAddress.placeholder' | cxTranslate }}
            </label>
            <cx-form-errors [control]="$any(form.get('userId'))"></cx-form-errors>

          </div>

          <button
            type="submit"
            class="btn btn-block btn-primary"
            [disabled]="form.disabled">
            {{ 'dashboardForgotPasswordForm.resetPasswordBtn.label' | cxTranslate }}
          </button>
        </form>

      </div>
    </div>
    <div class="login-content-right">
      <cx-media [container]="data.mainPicture" class="main-picture"></cx-media>
    </div>
  </div>
</ng-container>
