@import "core";

.login-content {
  @include size(100vh, 100%);

  display: flex;

  .logo {
    @include size(55px, 112px);

    margin-bottom: 20px;
  }

  &-left { //login-content-left
    width: 40%;
    display: flex;
    justify-content: center;
    margin-top: 200px;

    @include tablet-min {
      min-width: 437px;
    }

    @include tablet {
      width: 100%;
      margin-top: 96px;
    }
  }

  &-right { //login-content-right
    @include size(100vh, 60%);

    @include tablet {
      display: none;
    }
  }

  &-container { //login-content-container
    max-width: 365px;
    width: 100%;

    @include small-mobile {
      max-width: 312px;
    }
  }

  &-title { //login-content-title
    @include font-style(700, 20px, 24px);

    margin-bottom: 28px;
  }

  &-text {
    @include font-style(400, 15px, 24px);

    margin-bottom: 38px;
  }

  .form-group {
    margin-bottom: 28px;
  }

  .btn {
    margin-top: 0;
  }

  a {
    margin-top: 0;
  }
}
