.DashboardLoginTemplate {
  header,
  footer {
    background-color: transparent;
    display: none;
  }

  .login-content-right img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.cx-storefront.DashboardLoginTemplate:after, cx-storefront.DashboardLoginTemplate:after,
.cx-storefront.DashboardLoginTemplate:before, cx-storefront.DashboardLoginTemplate:before {
  content: none;
}

