.DashboardLoginTemplate {

  header,
  footer {
    background-color: transparent;
    display: none;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

}

.cx-storefront.DashboardLoginTemplate:after, cx-storefront.DashboardLoginTemplate:after,
.cx-storefront.DashboardLoginTemplate:before, cx-storefront.DashboardLoginTemplate:before {
  content: none;
}

